{% extends 'base.html' %}
{% block title_page %}
	سبد خرید
{% endblock %}
{% block continer_page %}
    <!-- Cart Section Start -->
    {% if not_cart == True %}
    	    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
                    <h3>هیچ محصولی در سبد خریدی موجود نیست</h3>

        </div>
    </section>
    {% elif not_cart == False %}
            <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3">
                <div class="col-xxl-9">
                    <div class="cart-table">
                        <div class="table-responsive-xl">
                            <table class="table">
                                <tbody>
                                {% for cart in carts %}
                                    <tr class="product-box-contain">
                                        <td class="product-detail">
                                            <div class="product border-0">

                                                <a href="{% url 'ditail_product' cart.product.slug %}" class="product-image">
                                                    <img src="{{ cart.product.image.url }}"
                                                        class="img-fluid blur-up lazyload" alt="">
                                                </a>
                                                <div class="product-detail">
                                                    <ul>
                                                        <li class="name">
                                                            <a href="{% url 'ditail_product' cart.product.slug %}">{{ cart.product.product_name }}</a>
                                                        </li>

                                                        <li class="text-content"><span
                                                                class="text-title">مقدار </span> : {{ cart.product.weight }}</li>

                                                        <li>
                                                            <h5 class="text-content d-inline-block">قیمت :</h5>
                                                            <span class="text-content">{{ cart.product.price_after_discount }} تومان</span>
                                                        </li>
                                                        <li class="quantity-price-box">
                                                            <div class="cart_qty">
                                                                <div class="input-group">
                                                                    <button type="button" class="btn qty-left-minus"
                                                                        data-type="minus" data-field="">
                                                                        <i class="fa fa-minus ms-0"
                                                                            aria-hidden="true"></i>
                                                                    </button>
                                                                    <input class="form-control input-number qty-input"
                                                                        type="text" name="quantity" value="0">
                                                                    <button type="button" class="btn qty-right-plus"
                                                                        data-type="plus" data-field="">
                                                                        <i class="fa fa-plus ms-0"
                                                                            aria-hidden="true"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <h5>جمع کل : {{ cart.total }}</h5>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="price">
                                            <h4 class="table-title text-content">قیمت</h4>
                                            <h5>{{ cart.product.price_after_discount }}<del class="text-content">{{ cart.product.price }}</del></h5>
                                            <h6 class="theme-color">سود شما : {{ cart.product.price_discount }}</h6>
                                        </td>

                                        <td class="quantity">
                                            <h4 class="table-title text-content">تعداد</h4>
                                            <div class="quantity-price">
                                                <div class="cart_qty">
                                                    <div class="input-group">
                                                        <button type="button" class="btn qty-left-minus" onclick="TotalAndNumber(1,0,{{ cart.product.id }},'m')"
                                                            data-type="minus"  data-field="">
                                                            <i class="fa fa-minus ms-0" aria-hidden="true"></i>
                                                        </button>
                                                        <input class="form-control input-number qty-input" type="text"
                                                            name="quantity" value="{{ cart.number_product }}">
                                                        <button type="button" class="btn qty-right-plus" onclick="TotalAndNumber(0,1,{{ cart.product.id }},'p')"
                                                            data-type="plus" data-field="">
                                                            <i class="fa fa-plus ms-0" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                <script>
                                                    function TotalAndNumber(minus,plus,product,hi) {
                                                            $.get('/cart/total-number-product/',{
                                                            'minus':minus,
                                                            'plus':plus,
                                                            'product':product,
                                                            'hi':hi,
                                                             }).then(
                                                                 res=>{
                                                                     location.reload()
                                                                     return res
                                                                 }
                                                            )
                                                        }
                                                </script>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="subtotal">
                                            <h4 class="table-title text-content">جمع کل</h4>
                                            <h5>{{ cart.total }}</h5>
                                        </td>

                                        <td class="save-remove">
                                            <h4 class="table-title text-content">عملیات</h4>
                                            <a class="remove close_button" onclick="DeleteBasketBuy({{ cart.id }})" >حذف</a>
                                        </td>
                                               <script>
                                                    function DeleteBasketBuy(basket) {
                                                            $.get('/cart/delete-basket/',{
                                                            'basket_id':basket,
                                                             }).then(
                                                                 res=>{
                                                                     return res
                                                                 }
                                                            )
                                                        }
                                                </script>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3">
                    <div class="summery-box p-sticky">
                        <div class="summery-header">
                            <h3>صورت حساب</h3>
                        </div>

                        <div class="summery-contain">
                            <div class="coupon-cart">
                                <h6 class="text-content mb-2">کد تخفیف</h6>
                                <div class="mb-3 coupon-box input-group">
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="کد تخفیف را وارد کنید">
                                    <button class="btn-apply">ثبت</button>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <h4>جمع کل</h4>
                                    <h4 class="price"> تومان</h4>
                                </li>

{#                                <li>#}
{#                                    <h4>کد تخفیف</h4>#}
{#                                    <h4 class="price">(-) 0.00</h4>#}
{#                                </li>#}

                                <li class="align-items-start">
                                    <h4>هزینه پست</h4>
                                    <h4 class="price text-end">6.000 تومان</h4>
                                </li>
                            </ul>
                        </div>

                        <ul class="summery-total">
                            <li class="list-total border-top-0">
                                <h4>جمع نهایی</h4>
                                <h4 class="price theme-color">{{ total_sum }} تومان</h4>
                            </li>
                        </ul>

                        <div class="button-group cart-button">
                            <ul>
                                <li>
                                    <button onclick="location.href = '{% url 'order-success' %}';"
                                        class="btn btn-animation proceed-btn fw-bold">پرداخت</button>
                                </li>

                                <li>
                                    <button onclick="location.href = '{% url 'main_product' %}';"
                                        class="btn btn-light shopping-button text-dark">
                                        <i class="fa-solid fa-arrow-right-long"></i>بازگشت به فروشگاه</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <!-- Cart Section End -->
{% endblock %}