    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->

    <!-- latest jquery-->
    <script src="/static/Front/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Bootstrap js-->
    <script src="/static/Front/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/static/Front/js/bootstrap/popper.min.js"></script>
    <script src="/static/Front/js/custom_user.js"></script>
    <!-- otp js-->
    <script src="/static/Front/js/otp.js"></script>

    <!-- Slick js-->
    <script src="/static/Front/js/slick/slick.js"></script>
    <script src="/static/Front/js/slick/slick-animation.min.js"></script>
    <script src="/static/Front/js/slick/custom_slick.js"></script>

    <!-- feather icon js-->
    <script src="/static/Front/js/feather/feather.min.js"></script>
    <script src="/static/Front/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="/static/Front/js/lazysizes.min.js"></script>

    <!-- script js -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/static/Front/js/script.js"></script>
    <script src="/static/Front/js/product.js"></script>

    <!-- thme setting js -->
    <script src="/static/Front/js/theme-setting.js"></script>

    <!-- WOW js -->
    <script src="/static/Front/js/wow.min.js"></script>
    <script src="/static/Front/js/custom-wow.js"></script>

    <!-- jquery ui-->
    <script src="/static/Front/js/jquery-ui.min.js"></script>


    <!-- Quantity js -->
    <script src="/static/Front/js/quantity-2.js"></script>