<div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">آدرس خود را انتخاب کنید</h5>
                <p class="mt-1 text-content">آدرس خود را وارد کنید تا ما پیشنهاد را برای منطقه شما مشخص می کنیم.</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="location-list">
                    <div class="search-input">
                        <input type="search" class="form-control" placeholder="محل خود را جستجو کنید">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>

                    <div class="disabled-box">
                        <h6>انتخاب مکان شما</h6>
                    </div>

                    <ul class="location-select custom-height">
                        <li>
                            <a href="javascript:void(0)">
                                <h6>آلاباما</h6>
                                <span>حداقل: 100 تومان</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>آریزوانا</h6>
                                <span>حداقل: 150 تومان</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>کالیفرنیا</h6>
                                <span>حداقل: 170 تومان</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>ایران</h6>
                                <span>حداقل: 150 تومان</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>فلوریدا</h6>
                                <span>حداقل: 160 تومان</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>جورجیا</h6>
                                <span>حداقل: 110 تومان</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>کانزاس</h6>
                                <span>حداقل: 130 تومان</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>مینه سوتا</h6>
                                <span>حداقل: 140 تومان</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>نیویورک</h6>
                                <span>حداقل: 120 تومان</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>واشنگتن</h6>
                                <span>حداقل: 160 تومان</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>